extends layout

block content
  body
    .container
      .input-group
        div
          input#user_name.form-control(type='text' placeholder='Write a username.')
        div
          input#mail.form-control(type='text' placeholder='Write a e-mail.')
        div
          input#phone.form-control(type='text' placeholder='Write a phone.')
        div
          input#active.form-control(type='text' placeholder='Is it active ?')
        div
          button#createBtn.btn-primary CREATE
    #comtxt
      p Other Commands:
    .others
      div
        button#updateBtn.btn(onclick="window.location.href = 'http://localhost:2000/update';") UPDATE
      div
        button#deleteBtn.btn(onclick="window.location.href = 'http://localhost:2000/delete';") DELETE
      div
        button#listoneBtn.btn(onclick="window.location.href = 'http://localhost:2000/list';") LIST ONE
    script(type= "module" src='../javascripts/create.js')

