extends layout

block content
    .input-group
      div
        input#ID.form-control(type='text', placeholder='Write a id.')
      div
        button#deleteBtn.btn-primary DELETE
    #comtxt
      p Other Commands:
    .others
      div
        button#createBtn.btn(onclick="window.location.href = 'http://localhost:2000/add';") CREATE
      div
        button#updateBtn.btn UPDATE
      div
        button#listoneBtn.btn(onclick="window.location.href = 'http://localhost:2000/list';") LIST ONE
    script(type= "module" src='../javascripts/delete.js')